.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-container p {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgb(0, 217, 255);
  border-radius: 8px;
  padding: 1rem 4rem;
}

.box-container {
  width: 90vw;
  height: 60vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-top: 2rem;
}

.screen {
  grid-column: 1 / span 4;
  color: black;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.btn {
  all: unset;
  display: grid;
  place-content: center;
  background-color: white;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.btn:active {
  background-color: black;
}

.hover-btn {
  background-color: #ff9900;
}

.hover-btn:hover {
  background-color: #ff4300;
}

.hover-btn:active {
  background-color: #d30000;
}

.screen-num {
  grid-column: 1 / span 2;
}

/* Mobile version */

@media (min-width: 992px) {
  .main-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  p {
    margin-top: 2rem;
  }

  .box-container {
    width: 40vw;
  }
}
